@media screen and (max-width: 1024px) {
  .header .header-items:last-child {
    gap: 6px;
    flex-direction: column-reverse;
  }
  .header .header-items .nav {
    gap: 24px;
  }
  .header .header-items .logo {
    min-width: 113px;
  }
  .header .header-items .header-btn {
    padding: 8px 12.5px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    margin: 0 16px;
    justify-content: space-between;
  }
  .header .header-items:nth-child(2) {
    display: none;
  }
  .header .header-items:last-child {
    align-items: center;
    flex-direction: row;
  }
  .header .header-btn {
    display: none;
  }
  .header .call {
    display: inline-block;
  }
  .header .call img {
    width: 26px;
    height: auto;
  }
  .header .burg-menu {
    display: block;
  }
}