.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 22px 0;
}

.header-items {
  display: flex;
  font-family: "Montserrat-Medium";
  font-size: 0.9rem;
}
.header-items .headr-nav {
  display: flex;
}
.header-items .nav-items {
  margin-right: 32px;
  color: #4A4A4A;
}
.header-items .nav-items:last-child {
  margin-right: auto;
}
.header-items .nav-items:hover {
  color: #E97522;
}
.header-items .nav-items:active {
  color: #333333;
}
.header-items .header-btn {
  padding: 8px 24px;
  color: #E97522;
  font-size: 0.86em;
  border: 2px solid #E97522;
  border-radius: 10px;
  margin-right: 24px;
  transition: 0.3s;
}
.header-items .header-btn:hover {
  background-color: #E97522;
  color: #fff;
}
.header-items .header-btn:active {
  transform: scale(0.95);
}
.header-items .header-tel {
  margin: auto 0;
}

.info {
  background-image: url(../Img/info-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #F5F5F5;
}
.info .info-inner {
  padding: 150px 0 100px 140px;
}
.info .info-content {
  width: 63.8%;
}
.info h1 {
  font-family: "Montserrat-Bold";
  font-size: 4.13rem;
  margin-bottom: 52px;
}
.info h2 {
  margin: 0 30% 24px 0;
}
.info p {
  margin-bottom: 32px;
}

.slider-works {
  min-width: 0px;
  text-align: center;
  padding: 20px;
}
.slider-works .slider-works-title {
  margin: 80px 0 117px 0;
}

.swiper-location {
  background-image: url(../Img/slider_location/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 80px;
  text-align: center;
}
.swiper-location .swiper-location-title {
  margin-bottom: 80px;
}
.swiper-location .btn {
  margin: 0 auto;
  margin-top: 60px;
}
.swiper-location .slider-items > img {
  width: 438px;
  height: 371px;
}

.btn {
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 22px;
  text-align: center;
  font-family: "Montserrat-SemiBold";
}
.btn:hover {
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.btn:active {
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  transition: 0.2s;
  transform: scale(0.95);
}

.slider-btn {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #E97522;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.slider-btn:hover {
  background-color: #F5F5F5;
}
.slider-btn:active {
  background-color: #E97522;
  color: #FFFFFF;
}