.slider-works_slide {
  width: 488px;
}

.btn-next, .btn-prev {
  margin-top: -50px;
}

@media (min-width: 1350px) {
  .btn-prev {
    left: 20vw;
  }
  .btn-next {
    right: 20vw;
  }
}
@media (min-width: 1350px) and (max-width: 1350px) {
  .btn-prev {
    left: 10vw;
  }
  .btn-next {
    right: 10vw;
  }
}
@media (min-width: 1350px) and (max-width: 970px) {
  .swiper-slide {
    width: 50%;
  }
  .btn-next, .btn-prev {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1350px) and (max-width: 500px) {
  .btn-prev {
    left: 10px;
  }
  .btn-next {
    right: 10px;
  }
  .btn-next, .btn-prev {
    width: 40px;
    height: 40px;
  }
  .slider-dots {
    display: none;
  }
}
@media (min-width: 1350px) and (max-width: 500px) {
  .btn-next, .btn-prev {
    width: 30px;
    height: 30px;
  }
}
.slider-dots {
  position: relative;
  margin-top: 40px;
}
.slider-dots .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #B1B1B1;
}
.slider-dots .swiper-pagination-bullet-active {
  background-color: #E97522;
  transform: scale(1.5);
}