$text: #4A4A4A;

//header color
$hactv-text: #333333;
$hbtn-color: #E97522;
$hbtn-hov-text: #fff;

//main
	//btn
	$bg-lgr: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28);

	//info
	$info-text: #F5F5F5;