//TODO: transferring colors to "colors"
//-------header-media-qwerys-----
@media screen and (max-width:1024px){
	.header{
		&-item{
			font-size: 12px;
			&:last-child{
				align-items: end;
				flex-direction: column-reverse;
				gap: 8px;
			}
		}
		.nav{gap: 24px;}
		.logo{min-width: 113px;}
	}
}
@media screen and(max-width:768px){
	.header{
		padding: 8px 16px;
		justify-content: space-between;
		position: relative;
		&-item{
			&:nth-child(2){display: none;}
			&:last-child{
				gap: 16px;
				align-items: center;
				flex-direction: row;
			}
		}
		&-btn{display: none;}
		.call, .burg, .burg-menu{display: block;}
		.burg-menu{
			box-sizing: border-box;
			position: absolute;
			height: 100vh;
			top: 100%;
			right: 0;
			background-color: #0F0F0FB2;
			.nav{
				margin: 16px;
				font-size: 14px;
				align-items: end;
				justify-content: flex-end;
				flex-direction: column;
				gap: 16px;
				&-item{color: #fff;}
			}
			overflow: hidden;
			width: 0;
			transition: all .3s ease;
			&.show{width: 100vw;}
		}
		.logo{
			min-width: 75px;
			max-width: 90px;
		}
		@media screen and (max-width:500px){
			.header-item:last-child{gap: 8px;}
			.logo{
				min-width: 63px;
				max-width: 75px;
			}
		}
	}
}
//-------main-media-qwerys-----
