//main colors
@import 'Colors';


//block
@import 'block/header';
@import 'block/main';


//btn
.btn{
	background: $bg-lgr;
	color: $btn-color;
	border-radius: 10px;
	padding: 22px;
	text-align: center;
	font-family: 'Montserrat-SemiBold';

	&:hover{background: $bg-lgr--hover;}
	&:active{
		background: $bg-lgr--active;
		transition: 0.2s;
		transform: scale(0.95);
	}
}
.slider-btn{
	background-color: $slider-btn-bg;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	color: $slider-arrow-color;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

	&:hover{background-color: $slider-btn-bg--hover;}
	&:active{
		background-color: $slider-btn-bg-active;
		color: $slider-arrow-color--active;
	}
}

//Stages-work //TODO: add color in files _Colors
.Stages-work{
	text-align: center;
	padding: 80px 100px;
}