.call, .burg, .burg-menu{display: none;}
.header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 22px 0;
	.logo{min-width: 63px;}
}
.header-item {
	display: flex;
	font-family: 'Montserrat-Medium';
	@include adaptiv-font(14,12);
	&:last-child {gap: 24px;}
	.nav{
		align-items: center;
		gap: 32;
		&-item{
			color: $text;
			&:hover {color: $header-btn-color;}
			&:active {color: $header-text--active;}	
		}		
	}
	.header-btn{
		padding: 8px 24px;
		color: $header-btn-color;
		font-size: 0.86em;
		border: 2px solid $header-btn-color;
		border-radius: 10px;
		transition: .3s;
		&:hover{
			background-color: $header-btn-color;
			color: $header-btn--hover-text;
		}
		&:active{transform: scale(0.95);}
	}
	.header-tel{margin: auto 0;}
}