.header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 22px 0;
	.logo{
		min-width: 63px;
	}
}
.header-items {
	display: flex;
	font-family: 'Montserrat-Medium';
	@include adaptiv-font(14,12);
	&:last-child {gap: 24px;}

	.nav-items {
		margin-right: 32px;
		color: $text;

		&:last-child {margin-right: auto;}
		&:hover {color: $header-btn-color;}
		&:active {color: $header-text--active;}
	}
	.header-btn{
		padding: 8px 24px;
		color: $header-btn-color;
		font-size: 0.86em;
		border: 2px solid $header-btn-color;
		border-radius: 10px;
		margin-right: 24px;
		transition: .3s;
		
		&:hover{
			background-color: $header-btn-color;
			color: $header-btn--hover-text;
		}
		&:active{transform: scale(0.95);}
	}
	.header-tel{margin: auto 0;}
	.call{display: none;}
	.burg-menu{display: none;}
}