.info{
	background-image: url(../Img/info-bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	color: $info--text;

	.info-inner{padding: 150px 0 100px 140px;}
	.info-content{width: 63.8%;}
	h1{
		font-family: 'Montserrat-Bold';
		font-size: 4.13rem;
		margin-bottom: 52px;
	}
	h2{margin: 0 30% 24px 0;}
	p{margin-bottom: 32px;}
}

//slider-works
.slider-works{
	min-width: 0px;
	text-align: center;
	padding: 20px;

	.slider-works-title{margin: 80px 0 117px 0;}
}

//swiper-location
.swiper-location{
	background-image: url(../Img/slider_location/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 60px 80px;
	text-align: center;

	.swiper-location-title{margin-bottom: 80px;}
	.btn{
		margin: 0 auto;
		margin-top: 60px;
	}
	//TODO: swiper-items fix width
	.slider-items>img{
		width: 438px;
		height: 371px;
	}
}
//Services
@import '../elements/Services';
//Stages-work(map)
@import '../elements/stagesWork-map';
//More-blocks
@import '../elements/more-text';

//price
.price{
	background: url(../Img/Prise-bg.svg) no-repeat;
	background-size: cover;
	padding: 118px 100px 170px;
	box-sizing: border-box;
	&-title{
		text-align: center;
		margin-bottom: 80px;
	}
	&-cart{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 22px;
		.cart{
			border-radius: 16px;
			@for $i from 1 through 3 {
				&:nth-child(0n + #{$i}){
					background-image: url("../Img/price-cart/Card-"+$i+".png");}
			}
			background-repeat: no-repeat;
			background-size: cover;
			box-sizing: border-box;
			padding: 48px 14px 42px;
			&-level{
				font-size: 1.13rem;
				font-family: "Montserrat-SemiBold";
				margin-bottom: 16px;
				color: $cart-level;
			}
			&-price{
				font-family: "Montserrat-Bold";
				font-size: 2.3rem;
			}
			.price-caption{color: $price-caption;}
			&-level,&-price,.price-caption{margin-left: 30.5px;}
			.services {
				margin-top: 40px;
				padding: 0 30.5px;
				.services-item{
					margin-bottom: 16px;
					&:last-child{margin-bottom: auto;}
					span{display: inline-block;}
				}
			}
			.AdditionalServices {
				margin-top: 32px;
				margin-bottom: 52px;
				text-align: center;
				.title{
					font-size: 1rem;
					margin-bottom: 12px;
				}
				&-items {
				display: flex;
				justify-content: center;
				gap: 5px;
					.item {
						padding: 6px;
						// text-align: center;
						border-radius: 5px;
						background-color: $AdditlServsItem--bg;
					}
				}
			}
			&-btn {
				width: 100%;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
		}
	}
}
//certificate
.certificate{
	box-sizing: border-box;
	margin: 80px 0 90px;
	padding: 0 100px;
	&-title{
		font-size: 2.3rem;
		text-align: center;
		margin-bottom: 80px;
	}
	&-cart{
		background-color: $certificate-cart;
		border-radius: 25px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		.cart-info{
			margin-top: 112px;
			margin-left: 120px;
			&>span{
				font-size: 0.9rem;
				color: $above-title;
				margin-bottom: 10px;
			}
			h1{font-size: 3rem;}
			.benefits{
				margin-top: 50px;
				div{
					display: flex;
					align-items: center;
					gap: 16px;
					margin-bottom: 25px;
					&:last-child{margin-bottom: auto;}
				}
			}
		}
		.buy{
			box-sizing: border-box;
			text-align: center;
			.btn{
				margin-top: 24px;
				margin-bottom: 38px;
				padding: 14px 97.5px;	
			}
		}
	}
}
//reviews
.reviews{
	&-slider{
		min-width: 0px;
		// &-wrap{}
		&-slide{
			min-width: 0px;
			max-width: 400px;
			text-align: center;
		}
	}
	// .add-review{}
}