.info{
	background-color: #444444FF;
	background-image: url("../Img/info-vector(bg).svg");
	background-repeat: no-repeat;
	background-position: 55% center;
	background-size: 12.5%;
	color: $info--text;

	.info-inner{padding: 150px 0 100px 140px;}
	.info-content{width: 55vw;}
	h1{
		font-family: 'Montserrat-Bold';
		@include adaptiv-font(66,24);
		margin-bottom: 52px;
	}
	h2{margin: 0 30% 24px 0;}
	p{margin-bottom: 32px;}
	@media screen and (max-width:1024px){
		h1{margin-bottom: 32px;}
		h2{margin-bottom: 15px;}
		.btn{padding: 22px 27.5px;}
		.info-inner{padding: 70px 0 70px 80px;}
		.info-content{width: 75vw;}
	}
}
@mixin FlexRowCenter(){
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width:600px){
	.info{h2, p{display: none;}}
	.info .info-content{
		@include FlexRowCenter();
		flex-direction: column;
		padding: 10px;
		width: 100vw;
		text-align: center;
		align-items: none;
	}
	.info .info-inner{
		width: 100vw;
		height: 80vh;
		padding: 0;
		@include FlexRowCenter();
	}
	.btn{
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: 14px;
		padding: 19.5px 20.5px;
		box-sizing: content;
	}
}

//slider-works
.slider-works{
	min-width: 0px;
	text-align: center;

	.slider-works-title{margin: 120px 0 117px 0;}
	@media screen and (max-width: 1024px){
		.slider-works-title{margin: 100px 0 107px 0;}
	}
	@media screen and (max-width: 600px){
		.slider-works-title{margin: 60px 0 55px 0;}
	}
}

//swiper-location
.swiper-location{
	background-image: url(../Img/slider_location/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding: 60px 80px;
	@media screen and (max-width: 1024px){&{padding: 60px 65px;}}
	@media screen and (max-width: 768px){&{padding: 60px 30px;}}
	@media screen and (max-width: 500px){&{padding: 60px 10px;}}
	.swiper-location-title{margin-bottom: 80px;}
	.btn{
		margin: 0 auto;
		margin-top: 60px;
	}
	.slider-items>img{
		width: 438px;
		height: 371px;
	}
}
//Services
@import '../elements/Services';
//Stages-work(map)
@import '../elements/stagesWork-map';
//More-blocks
@import '../elements/more-text';

//price
.price{
	background: url(../Img/Prise-bg.svg) no-repeat;
	background-size: cover;
	padding: 118px 100px 170px;
	box-sizing: border-box;
	&-title{
		text-align: center;
		margin-bottom: 80px;
	}
	&-cart{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 22px;
		.cart{
			margin: 0 auto;
			border-radius: 16px;
			@for $i from 1 through 3 {
				&:nth-child(0n + #{$i}){
					background-image: url("../Img/price-cart/Card-"+$i+".png");}
			}
			background-repeat: no-repeat;
			background-size: cover;
			box-sizing: border-box;
			padding: 48px 14px 42px;
			&-level{
				font-size: 1.13rem;
				font-family: "Montserrat-SemiBold";
				margin-bottom: 16px;
				color: $cart-level;
			}
			&-price{
				font-family: "Montserrat-Bold";
				font-size: 2.3rem;
			}
			.price-caption{color: $price-caption;}
			&-level,&-price,.price-caption{margin-left: 30.5px;}
			.services {
				margin-top: 40px;
				padding: 0 30.5px;
				.services-item{
					margin-bottom: 16px;
					&:last-child{margin-bottom: auto;}
					span{display: inline-block;}
				}
			}
			.AdditionalServices {
				margin-top: 32px;
				margin-bottom: 52px;
				text-align: center;
				.title{
					font-size: 1rem;
					margin-bottom: 12px;
				}
				&-items {
				display: flex;
				justify-content: center;
				gap: 5px;
					.item {
						padding: 6px;
						// text-align: center;
						border-radius: 5px;
						background-color: $AdditlServsItem--bg;
					}
				}
			}
			&-btn {
				width: 100%;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
		}
	}
}
//certificate
.certificate{
	box-sizing: border-box;
	margin: 80px 0 90px;
	padding: 0 100px;
	&-title{
		font-size: 2.3rem;
		text-align: center;
		margin-bottom: 80px;
	}
	&-cart{
		background-color: $certificate-cart;
		border-radius: 25px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		.cart-info{
			margin-top: 112px;
			margin-left: 120px;
			&>span{
				font-size: 0.9rem;
				color: $above-title;
				margin-bottom: 10px;
			}
			h1{font-size: 3rem;}
			.benefits{
				margin-top: 50px;
				div{
					display: flex;
					align-items: center;
					gap: 16px;
					margin-bottom: 25px;
					&:last-child{margin-bottom: auto;}
				}
			}
		}
		.buy{
			box-sizing: border-box;
			text-align: center;
			.btn{
				margin-top: 24px;
				margin-bottom: 38px;
				padding: 14px 97.5px;	
			}
		}
	}
}
//reviews
@mixin flexColAic{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.reviews{
	padding: 60px 100px 86px;
	&-title{
		text-align: center;
		margin-bottom: 80px;
	}
	&-slider{
		height: auto;
		min-width: 0px;
		@include flexColAic;
		&-wrap{height: auto;}
		&-slide{
			min-width: 0px;
			max-width: 100% / 3;
			text-align: center;
			transition: 0.2s;
			margin-top: 100px;
			@include flexColAic;
			.slide-img{
				max-width: 236px;
				margin: 0;
			}
			.slide-title{margin-top: 30px;}
			.slide-text{
				margin-top: 14px;
				font-family: 'Montserrat-Medium';
			}
			.review-more{
				margin-top: 8px;
				color: $more-btn--color;
				font-family: 'Montserrat-SemiBold';
			}
			&.swiper-slide-active{margin-top: 0;}
		}
		.add-reviews{
			margin-top: -50px;
			padding: 14px 69.5px;
		}
	}
}

//address(map) //TODO: move colors to "colors.scss"
.address{
	min-width: 83.333vw;
	box-sizing: border-box;
	margin: 100px 120px;
	margin-bottom: 150px;
	position: relative;
	.map{width: 70.667%;}
	.feedback{
		position: absolute;
		top: -26px;
		right: 0;
		min-width: 45.917%;
		background-image: url("../Img/Form-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 81px 36px;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;

		form{
			background-image: url("../Img/Form-bg.png");
			background-repeat: no-repeat;
			background-size: cover;
			font-size: 0.75rem;
			max-width: 479px;
			display: flex;
			flex-direction: column;

			.form-title{
				font-size: 1.9rem;
				margin-bottom: 32px;
				text-align: center;
			}
			.form-label{
				font-family: 'Montserrat-Medium';
				width: 100%;
				color: #12162166;
				margin-bottom: 16px;
				&:last-child{margin-bottom: 32px;}
				// span{opacity: 0.4;}
			}
			.form-input{
				font-family: inherit;
				width: 100%;
				margin-top: 8px;
				padding: 18px 16px;
				border-radius: 5px;
				color: #4A4A4A;
				&::placeholder{
					color: #B1B1B1;
				}
			}
			.form-btn{
				width: 100%;
				padding: 14px 0;
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-size: inherit;	
			}
			.form-caption{
				margin-top: 16px;
				text-align: center;
				font-size: inherit;
				color: #585858;
				a{
					color: #333333;
					text-decoration: underline;
					font-weight: bold;
				}
			}
		}
	}
}