.info{
	background-image: url(../Img/info-bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	color: $info-text;

	.info-inner{padding: 150px 0 100px 140px;}
	.info-content{width: 63.8%;}
	h1{
		font-family: 'Montserrat-Bold';
		font-size: 4.13rem;
		margin-bottom: 52px;
	}
	h2{margin: 0 30% 24px 0;}
	p{margin-bottom: 32px;}
}

//slider-works
.slider-works{
	min-width: 0px;
	text-align: center;
	padding: 20px;

	.slider-works-title{margin: 80px 0 117px 0;}
}

//swiper-location
.swiper-location{
	background-image: url(../Img/slider_location/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 60px 80px;
	text-align: center;

	.swiper-location-title{margin-bottom: 80px;}
	.btn{
		margin: 0 auto;
		margin-top: 60px;
	}
	//TODO: swiper-items fix width
	.slider-items>img{
		width: 438px;
		height: 371px;
	}
}
//Services
@import '../elements/Services';