.swiper-slide {width: 488px;}

.swiper-button-next,.swiper-button-prev{
	background-color: #fff;
	color: transparent;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	top: 40%;
	margin: 0 auto;
	stroke: #E97522;
	background-image: none;
}

@media (min-width: 1350px){
	.swiper-button-prev{left: 20vw;}
	.swiper-button-next{right: 20vw;}
}
@media (max-width: 1350px){
	.swiper-button-prev{left: 10vw;}
	.swiper-button-next{right: 10vw;}
}
@media (max-width: 970px){
	.swiper-slide{width: 50%;}
	.swiper-button-next,.swiper-button-prev{
		width: 50px;
		height: 50px;
		top: 20vw;
}}
@media (max-width: 500px){
	.swiper-button-prev{left: 10px;}
	.swiper-button-next{right: 10px;}
	.swiper-button-next,.swiper-button-prev{
		width: 40px;
		height: 40px;
	} .swiper-pagination{display: none;}
}
@media (max-width: 500px){
	.swiper-button-next,.swiper-button-prev{
		width: 30px;
		height: 30px;
}}

.swiper-pagination{
	position: relative;
	margin-top: 40px;
}
.swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	background-color: #B1B1B1;
}
.swiper-pagination-bullet-active{
	background-color: #E97522;
	transform: scale(1.5);
}