.more{
	margin-top: 40px;
	background-color: $more-bg;
	&.more-2{background-color: $more-bg2;}
	.content{
		padding: 40px 100px;
		line-height: 26px;
		.title{
			text-align: center;
			margin-bottom: 32px;
		}
		.dots{margin-left: -2px;}
		.more-text{
			display: none;
			.addition{margin-top: 2em;}
		}
		.more-btn{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;
			.btn{
				border: none;
				background: none;
				cursor: pointer;
				color: $more-btn--color;
				font-weight: 600;
				font-style: bold;
				&:nth-child(2){display: none;}
			}
			.arrow{
				stroke: $more-btn--color;
				vertical-align: middle;
			}
		}
		&.content--more{
			.dots{display: none;}
			.more-text{
				display: inline;
				span + p{margin-top: 1em;}
			}
			.more-btn{
				.btn:nth-child(1){display: none;}
				.btn:nth-child(2){display: block;}
				.arrow{transform: rotate(90deg);}
			}
		}
	}
}