//Services
.Services{
	text-align: center;
	margin: 60px 0;
}
.Services-container{
	box-sizing: border-box;
	display: grid;
	gap: 30px;
	width: auto;
	min-height: 100vh;
	margin: 80px 6.944vw;
	margin-top: 60px;
  
	grid-template-areas:
		"A A    B B   C C"
		"D D    B B   E E"
    	"G G    F F   E E"
    	"G G    H H   H H"
    	"I I    J J   K K";

	.cart{
		position: relative;
		box-sizing: border-box;
		display: inline-block;
		min-width: 27.153vw;
		min-height: 27.431vw;
		border-radius: 15px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.down-text{
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 32px 16px;
		color: #FFFFFF; //TODO: add color in colors.scss
	}
}
.cart-1{
	grid-area: A;
	background-image: url('../Img/Services-cart/Cart1.jpg');
}
.cart-2{
	grid-area: B;
	background-image: url('../Img/Services-cart/Cart2.jpg');
}
.cart-3{
	grid-area: C;
	background-image: url('../Img/Services-cart/Cart3.jpg');
}
.cart-4{
	grid-area: D;
	background-image: url('../Img/Services-cart/Cart4.jpg');
}
.cart-5{
	grid-area: E;
	background-image: url('../Img/Services-cart/Cart5.jpg');
}
.cart-6{
	grid-area: F;
	background-image: url('../Img/Services-cart/Cart6.jpg');
}
.cart-7{
	grid-area: G;
	background-image: url('../Img/Services-cart/Cart7.jpg');
}
.cart-8{
	grid-area: H;
	background-image: url('../Img/Services-cart/Cart8.jpg');
}
.cart-9{
	grid-area: I;
	background-image: url('../Img/Services-cart/Cart9.jpg');
}
.cart-10{
	grid-area: J;
	background-image: url('../Img/Services-cart/Cart10.jpg');
}
.cart-11{
	grid-area: K;
	background-image: url('../Img/Services-cart/Cart11.jpg');
}